<%# <h1>Welcome to bidding app 1</h1> %>

<figure class="text-center"> 
    <blockquote class="blockquote" style="padding-top: 23px; margin-bottom: 3rem;">
       <h1><p>Welcome to Bidding App 1</p></h1>
     </blockquote>
</figure>

  <div class= container>
     <div class="row row-cols-1 row-cols-md-3 g-4">
         <%Item.all.each do |item|%>
         <div class="col">
            <div class="card h-100 border-secondary mb-3 items-card" style="max-width: 18rem;">
               <%= image_tag (item.image.url),class:"card-img-top",style:"width:286px;" if item.image.present?%>
               <div class="card-body h-70" style="padding: 0rem 1rem ">
                  <h5 class="card-title"><%= item.title %></h5>
                  <p class="card-text"><%= item.description %></p>
               </div>
               <div class="card-footer">
                  <a href="#" class="card-link"><%= link_to 'Show', item %></a>
               </div>
             </div>
             </div>
          <%end%>
          </div>
    </div>



 














